.build/.lock
.build/build.db
.build/debug.yaml
.build/plugin-tools.yaml
.build/arm64-apple-macosx/debug/accesspulse
.build/arm64-apple-macosx/debug/description.json
.build/arm64-apple-macosx/debug/plugin-tools-description.json
.build/arm64-apple-macosx/debug/accesspulse.dSYM/Contents/Resources/DWARF/accesspulse
.build/arm64-apple-macosx/debug/accesspulse.dSYM/Contents/Resources/Relocations/aarch64/accesspulse.yml
.build/arm64-apple-macosx/debug/accesspulse.product/Objects.LinkFileList
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/AccessibilityHiddenInteractiveRule.d
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/AccessibilityHiddenInteractiveRule.dia
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/AccessibilityHiddenInteractiveRule.swift.o
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/AccessibilityHiddenInteractiveRule.swiftdeps
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/AccessPulseAuditEngine.emit-module.d
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/AuditEngine.d
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/AuditEngine.swiftdeps
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/DynamicTypeClampRule.d
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/DynamicTypeClampRule.dia
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/DynamicTypeClampRule.swift.o
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/DynamicTypeClampRule.swiftdeps
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/master.priors
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/MissingAccessibilityLabelRule.d
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/MissingAccessibilityLabelRule.swift.o
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/MissingAccessibilityLabelRule.swiftdeps
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/output-file-map.json
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/RuleSet.d
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/RuleSet.swift.o
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/RuleSet.swiftdeps
.build/arm64-apple-macosx/debug/AccessPulseAuditEngine.build/sources
.build/arm64-apple-macosx/debug/AccessPulseCLI.build/main.swiftdeps
.build/arm64-apple-macosx/debug/AccessPulseCLI.build/master.priors
.build/arm64-apple-macosx/debug/AccessPulseCore.build/master.priors
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/AccessibilitySyntaxHelpers.d
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/AccessibilitySyntaxHelpers.dia
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/AccessibilitySyntaxHelpers.swift.o
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/AccessibilitySyntaxHelpers.swiftdeps
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/AccessPulseSyntaxRules.emit-module.d
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/IconOnlyButtonAccessibilityLabelRule.d
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/IconOnlyButtonAccessibilityLabelRule.dia
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/IconOnlyButtonAccessibilityLabelRule.swift.o
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/IconOnlyButtonAccessibilityLabelRule.swiftdeps
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/IconOnlyButtonVisitor.d
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/IconOnlyButtonVisitor.dia
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/IconOnlyButtonVisitor.swift.o
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/IconOnlyButtonVisitor.swiftdeps
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/master.priors
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/output-file-map.json
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/PlaceholderOnlyTextFieldRule.d
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/PlaceholderOnlyTextFieldVisitor.d
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/PlaceholderOnlyTextFieldVisitor.swift.o
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/PlaceholderOnlyTextFieldVisitor.swiftdeps
.build/arm64-apple-macosx/debug/AccessPulseSyntaxRules.build/sources
.build/arm64-apple-macosx/debug/AccessPulseUI.build/output-file-map.json
.build/arm64-apple-macosx/debug/index/store/v5/records/75/PlaceholderOnlyTextFieldVisitor.swift-3A6Y9BS14ME75
.build/arm64-apple-macosx/debug/index/store/v5/records/EZ/IconOnlyButtonAccessibilityLabelRule.swift-1ZC0ZWR3WTWEZ
.build/arm64-apple-macosx/debug/index/store/v5/records/GZ/MissingAccessibilityLabelRule.swift-3PUUCKG49JCGZ
.build/arm64-apple-macosx/debug/index/store/v5/records/O8/AccessibilityHiddenInteractiveRule.swift-2YYA85TATHCO8
.build/arm64-apple-macosx/debug/index/store/v5/records/PQ/DynamicTypeClampRule.swift-21V15XG025LPQ
.build/arm64-apple-macosx/debug/index/store/v5/records/PR/AccessibilitySyntaxHelpers.swift-2WI5RO3J5W9PR
.build/arm64-apple-macosx/debug/index/store/v5/records/SR/IconOnlyButtonVisitor.swift-2HAC4LN7EXASR
.build/arm64-apple-macosx/debug/index/store/v5/records/VV/RuleSet.swift-2ZCO8LSS6MKVV
.build/arm64-apple-macosx/debug/index/store/v5/units/AccessibilityHiddenInteractiveRule.swift.o-3PRQLCYQIO9K
.build/arm64-apple-macosx/debug/index/store/v5/units/AccessibilitySyntaxHelpers.swift.o-2MEWZCJLX103T
.build/arm64-apple-macosx/debug/index/store/v5/units/DynamicTypeClampRule.swift.o-QRMG34BFQC5L
.build/arm64-apple-macosx/debug/index/store/v5/units/IconOnlyButtonAccessibilityLabelRule.swift.o-NQK8CNFTWU4F
.build/arm64-apple-macosx/debug/index/store/v5/units/IconOnlyButtonVisitor.swift.o-1JHBUB2PV1FUP
.build/arm64-apple-macosx/debug/index/store/v5/units/MissingAccessibilityLabelRule.swift.o-1UE1CWOAZDB0Z
.build/arm64-apple-macosx/debug/index/store/v5/units/PlaceholderOnlyTextFieldVisitor.swift.o-39RSQL2EP00YB
.build/arm64-apple-macosx/debug/index/store/v5/units/RuleSet.swift.o-5FG7XUEHLMY8
.build/arm64-apple-macosx/debug/Modules/AccessPulseAuditEngine.swiftmodule
.build/arm64-apple-macosx/debug/Modules/AccessPulseAuditEngine.swiftsourceinfo
.build/arm64-apple-macosx/debug/Modules/AccessPulseCLI.swiftmodule
.build/arm64-apple-macosx/debug/Modules/AccessPulseSyntaxRules.swiftmodule
.build/arm64-apple-macosx/debug/Modules/AccessPulseSyntaxRules.swiftsourceinfo
.build/arm64-apple-macosx/debug/SwiftParser.build/master.priors
.build/arm64-apple-macosx/debug/SwiftSyntax.build/master.priors
.build/arm64-apple-macosx/debug/SwiftSyntax509.build/master.priors
.build/arm64-apple-macosx/debug/SwiftSyntax510.build/master.priors
.build/arm64-apple-macosx/debug/SwiftSyntax600.build/master.priors
