# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Xcode
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Logs and temporary files
*.log
*.tmp
*.swp
